.nav-button{
    padding:6px 12px;
    background-color: transparent;
    border:none;
    text-decoration: underline;
    cursor:pointer;
    border-radius:6px;
}

.nav-button:not(:last-child) {
    margin-right:10px;
}

.nav-button.deactivated {
    pointer-events: none;
}

.nav-button:not(:enabled) {
    background-color: rgb(168, 165, 165);
    color:#fff;
    text-decoration: none;
}