.table{
    width:var(--table-width);
    border-spacing: var(--table-border-spacing);
    border-collapse: var(--table-border-collapse);
}

.table__col-thumb {
    @include flex(row, start, center);
    padding: var(--th-padding);
    font-size:var(--main-font-size);
    line-height:var(--main-line-height);
    text-align: start;
}

.table__col-thumb--buttons {
    @include flex(row, end, center);
}

.table__button {
    @include flex(row, center, center);
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--button-bg-color);
    border: var(--button-border);
    cursor: pointer;
    transition: transform var(--transition-delay) var(--transition-func);

    &:hover {
        transform: scale(var(--hover-button-scale));
    }
}

.table__icon{
    @include flex(row, center, center);
    width:var(--category-icon-thumb-width);
    height:var(--category-icon-thumb-height);
    color:var(--category-icon-color);
    background-color:var(--category-icon-bg-color);
    border-radius:var(--category-icon-border-radius);

    & svg {
        width:var(--category-icon-width);
        height:var(--category-icon-height);
    }
}

.table__col-thumb--icon{
    width:var(--icon-col-width);
}

.table__col-thumb--name{
    width:var(--name-col-width);
}

.table__col-thumb--created {
    width: var(--created-col-width);
}

.table__col-thumb--category {
    width: var(--category-col-width);
}

.table__col-thumb--content {
    width: var(--content-col-width);
}

.table__col-thumb--dates {
    width: var(--dates-col-width);
}

.table__col-thumb--buttons{
    width: var(--buttons-col-width);
}

.table__col-thumb--first{
    border-radius: var(--first-row-border-radius);
}

.table__col-thumb--last {
    border-radius:var(--last-row-border-radius);
}

.table__col-thumb--note-category{
    width:var(--note-category-col-width);
}

.table__col-thumb--active{
    width:var(--active-col-width);
}

.table__col-thumb--archived{
    width:var(--archived-col-width);
}

.table__head {
    & .table__row {
        height: var(--thead-height);
    }

    & .table__col-thumb {
        height: var(--thead-th-height);
        font-weight:var(--thead-font-weight);
        color: var(--thead-txt-color);
        background-color: var(--thead-bg-color);
    }

    & button {
        color: var(--thead-txt-color);
    }
}

.table__body {
    & .table__row {
        height: var(--tbody-height);
    }

    & .table__col-thumb {
        margin: var(--tbody-row-margin);
        height: var(--tbody-th-height);
        font-weight:var(--tbody-font-weight);
        color: var(--tbody-txt-color);
        background-color: var(--trow-bg-color);
    }

    & .table__col-thumb--name{
        color:var(--tbody-name-txt-color);
    }

    & button {
        color: var(--tbody-txt-color);
    }
}

.table__caption{
    font-weight:700;
}

.disabled {
    display:none;
}

svg {
    pointer-events: none;
}