<div class="container">
  <div class="notes-container">
    <table class="table">
      <thead class="table__head">
        <tr class="table__row">
          <th>
            <div class="table__col-thumb table__col-thumb--first table__col-thumb--icon"></div>
          </th>
          <th>
            <div class="table__col-thumb table__col-thumb--name">Name</div>
          </th>
          <th>
            <div class="table__col-thumb table__col-thumb--created">Created</div>
          </th>
          <th>
            <div class="table__col-thumb table__col-thumb--category">Category</div>
          </th>
          <th>
            <div class="table__col-thumb table__col-thumb--content">Content</div>
          </th>
          <th>
            <div class="table__col-thumb table__col-thumb--dates">Dates</div>
          </th>
          <th>
            <div class="table__col-thumb table__col-thumb--last table__col-thumb--buttons">
              <button type="button" class="table__button" name="archive">
                <svg width="20px" height="20px">
                  <use href="./images/icons.svg#box-add"></use>
                </svg>
              </button>
              <button type="button" class="table__button" name="remove">
                <svg width="30px" height="30px">
                  <use href="./images/icons.svg#delete1"></use>
                </svg>
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody id="table-notes-body" class="table__body"></tbody>
    </table>
  </div>
  <div class="modal-container">
    <button type="button" class="create-button">Create Note</button>
  </div>
  <div class="summary-container">
    <table class="table">
      <thead class="table__head">
        <tr class="table__row">
          <th>
            <div class="table__col-thumb table__col-thumb--first table__col-thumb--icon"></div>
          </th>
          <th>
            <div class="table__col-thumb table__col-thumb--note-category">Note Category</div>
          </th>
          <th>
            <div class="table__col-thumb table__col-thumb--active">Active</div>
          </th>
          <th>
            <div class="table__col-thumb table__col-thumb--last table__col-thumb--archived">
              Archived
            </div>
          </th>
        </tr>
      </thead>
      <tbody id="table-summary-body"></tbody>
    </table>
  </div>
</div>
