<div class="summary-container">
    <table class="table">
      <thead class="table__head">
        <tr class="table__row">
          <th>
            <div class="table__col-thumb table__col-thumb--first table__col-thumb--icon"></div>
          </th>
          <th>
            <div class="table__col-thumb table__col-thumb--note-category">Note Category</div>
          </th>
          <th>
            <div class="table__col-thumb table__col-thumb--active">Active</div>
          </th>
          <th>
            <div class="table__col-thumb table__col-thumb--last table__col-thumb--archived">
              Archived
            </div>
          </th>
        </tr>
      </thead>
      <tbody id="summary-tbody" class="table__body"></tbody>
    </table>
  </div>
</div>